<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <app-back-button back="true"></app-back-button>
    </ion-buttons>
    <ion-title>{{title | titlecase}}</ion-title>
    <ion-buttons slot="end">
        <ion-title style="margin-right: 1rem;">
          Asignación total: 
        {{balanceTotal | addCommas}}
        </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{title | titlecase}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-table [name]="subtitle" [cols]="cols" [rows]="businesses" (selected)="selected($event)"></app-table>
</ion-content>
