<ion-header>
  <ion-toolbar color="paolo-green">
    <app-back-button slot="start" back="true"></app-back-button>
    <ion-title>{{pTitle | titlecase}}</ion-title>

    <ion-buttons slot="end">
      <ion-title>Fecha Actual: {{dateNow | date: 'dd-MM-yyyy'}}</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
  
    <ion-list-header>
      <ion-title>
        Resumen De Precios Macros e Ingredientes Marzo {{dateNow | date: 'YYYY'}}
      </ion-title>
    </ion-list-header>
  
    <ion-grid>
      <ion-row >
        <ion-col size="10">
          <ion-item>
            <ion-label><h1> Ingredientes: </h1></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="2">
          <ion-item>
            <ion-label>
              <h1>Precio: (usd)</h1>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let item of macros; index as i">
        <ion-col size="10">
          <ion-item>
            <ion-label><h1> {{i+1}} - {{item.name | titlecase}}</h1></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="2">
          <ion-item button color="warning" class="tx-r">
            <ion-label>
              <h1>{{item.price}}</h1>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-item-divider></ion-item-divider>
      
    <ion-list-header>
      <ion-title>
        Resumen De Precios Micros e Ingredientes Marzo {{dateNow | date: 'YYYY'}}
      </ion-title>
    </ion-list-header>

    <ion-grid>
      <ion-row >
        <ion-col size="8">
          <ion-item>
            <ion-label><h1> Ingredientes: </h1></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="2">
          <ion-item>
            <ion-label>
              <h1>Precio: (usd)</h1>
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="2">
          <ion-item>
            <ion-label>
              <h1>Cantidad:</h1>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let item of micros; index as i">
        <ion-col size="8">
          <ion-item>
            <ion-label><h1> {{i+1}} - {{item.name | titlecase}}</h1></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="2">
          <ion-item button color="success" class="tx-r">
            <ion-label>
              <h1>{{item.price }}</h1>
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="2">
          <ion-item button color="danger" class="tx-r">
            <ion-label>
              <h1>{{item.qty | addCommas}} Fundas</h1>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-list>
  
</ion-content>