<ngx-charts-bar-vertical
  *ngIf="show"
  [view]="view"
  [scheme]="colorScheme"
  [results]="multi1"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel1"
  [yAxisLabel]="yAxisLabel1"
  >
</ngx-charts-bar-vertical>

<ngx-charts-bar-vertical
  *ngIf="show"
  [view]="view"
  [scheme]="colorScheme"
  [results]="multi2"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel2"
  [yAxisLabel]="yAxisLabel2"
  >
</ngx-charts-bar-vertical>
