<ion-header [translucent]="true">
  <ion-toolbar color="paolo-green">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Formulario de entrada</ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="productionForm.invalid" (click)="save()">Guardar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Formulario de entrada</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="productionForm">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="4">
          <ion-item >
            <ion-label position="stacked"><h1>fecha: <span class="invalid">*</span></h1></ion-label>
            <ion-input required formControlName="fecha" type="date" placeholder="5/12/2021"></ion-input>
            <small *ngIf="getControl('fecha').invalid && getControl('fecha').touched" class="invalid">Campo requerido</small>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-md="4">
          <ion-item >
            <ion-label position="stacked"><h1>Semana: <span class="invalid">*</span></h1></ion-label>
            <ion-input required formControlName="semana" type="number" placeholder="ejemplo: 1"></ion-input>
            <small *ngIf="getControl('semana').invalid && getControl('semana').touched" class="invalid">Campo requerido</small>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-md="4">
          <ion-item >
            <ion-label position="stacked"><h1>Lote: <span class="invalid">*</span></h1></ion-label>
            <ion-input required formControlName="lote" type="number" placeholder="ejemplo: 1"></ion-input>
            <small *ngIf="getControl('lote').invalid && getControl('lote').touched" class="invalid">Campo requerido</small>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" size-md="1.8">
          <ion-item >
            <ion-label position="stacked"><h1>Inicio día: <span class="invalid">*</span></h1></ion-label>
            <ion-input required formControlName="inicio_dia" type="number" placeholder="ejemplo: 1000"></ion-input>
            <small *ngIf="getControl('inicio_dia').invalid && getControl('inicio_dia').touched" class="invalid">Campo requerido</small>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-md="1.7">
          <ion-item >
            <ion-label position="stacked"><h1>Mortalidad: <span class="invalid">*</span></h1></ion-label>
            <ion-input required formControlName="mortalidad" type="number" placeholder="ejemplo: 10"></ion-input>
            <small *ngIf="getControl('mortalidad').invalid && getControl('mortalidad').touched" class="invalid">Campo requerido</small>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-md="1.7">
          <ion-item >
            <ion-label position="stacked"><h1>Descarte: <span class="invalid">*</span></h1></ion-label>
            <ion-input required formControlName="descarte" type="number" placeholder="ejemplo: 10"></ion-input>
            <small *ngIf="getControl('descarte').invalid && getControl('descarte').touched" class="invalid">Campo requerido</small>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-md="1.7">
          <ion-item >
            <ion-label position="stacked"><h1>Venta: <span class="invalid">*</span></h1></ion-label>
            <ion-input required formControlName="venta" type="number" placeholder="ejemplo: 10"></ion-input>
            <small *ngIf="getControl('venta').invalid && getControl('venta').touched" class="invalid">Campo requerido</small>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-md="1.7">
          <ion-item >
            <ion-label position="stacked"><h1>Final día: <span class="invalid">*</span></h1></ion-label>
            <ion-input required formControlName="final_dia" type="number" placeholder="ejemplo: 970"></ion-input>
            <small *ngIf="getControl('final_dia').invalid && getControl('final_dia').touched" class="invalid">Campo requerido</small>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-md="1.7">
          <ion-item >
            <ion-label position="stacked"><h1>GRS alimento: <span class="invalid">*</span></h1></ion-label>
            <ion-input required formControlName="grs_alimento" type="number" placeholder="ejemplo: 70"></ion-input>
            <small *ngIf="getControl('grs_alimento').invalid && getControl('grs_alimento').touched" class="invalid">Campo requerido</small>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-md="1.7">
          <ion-item >
            <ion-label position="stacked"><h1>Alimento total: <span class="invalid">*</span></h1></ion-label>
            <ion-input required formControlName="total_alimento" type="number" placeholder="ejemplo: 70"></ion-input>
            <small *ngIf="getControl('total_alimento').invalid && getControl('total_alimento').touched" class="invalid">Campo requerido</small>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" size-md="2">
          <ion-item >
            <ion-label position="stacked"><h1>Huevos incubables: <span class="invalid">*</span></h1></ion-label>
            <ion-input required formControlName="huevos_incubables" type="number" placeholder="ejemplo: 10"></ion-input>
            <small *ngIf="getControl('huevos_incubables').invalid && getControl('huevos_incubables').touched" class="invalid">Campo requerido</small>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-md="2">
          <ion-item >
            <ion-label position="stacked"><h1>Huevos dobles: <span class="invalid">*</span></h1></ion-label>
            <ion-input required formControlName="huevos_dobles" type="number" placeholder="ejemplo: 10"></ion-input>
            <small *ngIf="getControl('huevos_dobles').invalid && getControl('huevos_dobles').touched" class="invalid">Campo requerido</small>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-md="2">
          <ion-item >
            <ion-label position="stacked"><h1>Huevos sucios: <span class="invalid">*</span></h1></ion-label>
            <ion-input required formControlName="huevos_sucios" type="number" placeholder="ejemplo: 10"></ion-input>
            <small *ngIf="getControl('huevos_sucios').invalid && getControl('huevos_sucios').touched" class="invalid">Campo requerido</small>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-md="2">
          <ion-item >
            <ion-label position="stacked"><h1>Huevos comerciables: <span class="invalid">*</span></h1></ion-label>
            <ion-input required formControlName="huevos_comerciables" type="number" placeholder="ejemplo: 10"></ion-input>
            <small *ngIf="getControl('huevos_comerciables').invalid && getControl('huevos_comerciables').touched" class="invalid">Campo requerido</small>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-md="2">
          <ion-item >
            <ion-label position="stacked"><h1>Huevos rotos: <span class="invalid">*</span></h1></ion-label>
            <ion-input required formControlName="huevos_rotos" type="number" placeholder="ejemplo: 10"></ion-input>
            <small *ngIf="getControl('huevos_rotos').invalid && getControl('huevos_rotos').touched" class="invalid">Campo requerido</small>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-md="2">
          <ion-item >
            <ion-label position="stacked"><h1>Huevos totales: <span class="invalid">*</span></h1></ion-label>
            <ion-input required formControlName="huevos_totales" type="number" placeholder="ejemplo: 10"></ion-input>
            <small *ngIf="getControl('huevos_totales').invalid && getControl('huevos_totales').touched" class="invalid">Campo requerido</small>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" size-md="4">
          <ion-item >
            <ion-label position="stacked"><h1>Peso total: <span class="invalid">*</span></h1></ion-label>
            <ion-input required formControlName="peso" type="number" placeholder="ejemplo: 10"></ion-input>
            <small *ngIf="getControl('peso').invalid && getControl('peso').touched" class="invalid">Campo requerido</small>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-md="4">
          <ion-item >
            <ion-label position="stacked"><h1>Produccion %: <span class="invalid">*</span></h1></ion-label>
            <ion-input required formControlName="produccion" type="number" placeholder="ejemplo: 10"></ion-input>
            <small *ngIf="getControl('produccion').invalid && getControl('produccion').touched" class="invalid">Campo requerido</small>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-md="4">
          <ion-item >
            <ion-label position="stacked"><h1>Aprovechamiento %: <span class="invalid">*</span></h1></ion-label>
            <ion-input required formControlName="aprovechamiento" type="number" placeholder="ejemplo: 10"></ion-input>
            <small *ngIf="getControl('aprovechamiento').invalid && getControl('aprovechamiento').touched" class="invalid">Campo requerido</small>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  
  </form>
  
</ion-content>