<ion-header>
  <ion-toolbar color="paolo-green">
    <app-back-button slot="start" back="true"></app-back-button>
    <ion-title>{{pTitle | titlecase}}</ion-title>

    <ion-buttons slot="end">
      <ion-title>Fecha Actual: {{dateNow | date: 'dd-MM-yyyy'}}</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
  
    <ion-list-header>
      <ion-title>
        {{'COSTES DE PRODUCCION CON LOS PRECIOS DE MATERIA PRIMA AL ' | titlecase}} {{dateNow | date: 'dd-MM-yyyy'}}
      </ion-title>
    </ion-list-header>
    
    <ion-grid>
      <ion-row>
        <ion-col size="12" >
          <!-- TABLE HERE -->
          <app-table [name]="subtitle" [cols]="cols" [rows]="rows" ></app-table>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    </ion-list>

</ion-content>