<ion-list >
  <ion-list-header>
    <ion-label><h2>{{name | titlecase}}</h2></ion-label>    
    <ion-button *ngIf="tableActions.new" size="large" (click)="newRow()">
      Nuevo
      <ion-icon name="add"></ion-icon>
    </ion-button>
  </ion-list-header>

  <ion-toolbar>
    <!-- <ion-item lines="none">
      <ion-label>Theme:</ion-label>
      <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" (ionChange)="tableStyle = $event.target.value" placeholder="theme" [value]="tableStyle">
        <ion-select-option value="material">Material</ion-select-option>
        <ion-select-option value="bootstrap">Bootstrap</ion-select-option>
        <ion-select-option value="dark">Dark</ion-select-option>
      </ion-select>
    </ion-item> -->
    <ion-searchbar (ionChange)="updateFilter($event)" debounce="500" animated ></ion-searchbar>
  </ion-toolbar>

  <ngx-datatable
    class="{{tableStyle}} server-scrolling-demo"
    [rows]="rows"
    
    [headerHeight]="50"
    [rowHeight]="50"
    [footerHeight]="50"

    [scrollbarH]="true"
    [scrollbarV]="true"
    [columnMode]="'force'"
    [selectionType]="'single'"
    [externalSorting]="true"
    [loadingIndicator]="loading"
    (sort)="onSort($event)"
  ><!-- [limit]="limit"  -->
  <ngx-datatable-column
  [flexGrow]="1" [maxWidth]="50"
  name="Id" sortable="true">
  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
    <span >{{row['id']}}</span>
  </ng-template>
</ngx-datatable-column>

<ngx-datatable-column
  *ngFor="let col of columns" name="{{col.header}}" 
  [flexGrow]="1" minWidth="{{col.prop!=='direccion'?  80 : 350}}" >
  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template ><!-- [class]="col?.number? 'Dil' : 'Dir'" -->
    <span [ngSwitch]="col.prop">
      <span *ngSwitchCase=" 'entry' || 'entrydate' ">
        {{row[col.prop.toLowerCase()] | date: 'd/M/yy'}}
      </span>
      <span *ngSwitchCase=" 'dia' ">
        {{row[col.prop.toLowerCase()] | date: 'd/M/yy'}}
      </span>
      <span *ngSwitchCase=" 'mortalidad' ">
        {{row[col.prop.toLowerCase()] + ' %'}}
      </span>
      <span *ngSwitchCase=" 'estandar_real' ">
        {{ (row[col.prop.toLowerCase()]*100) + ' %'}}
      </span>
      <span *ngSwitchCase=" 'aprovechamiento_de_huevos_estandar' ">
        {{ row[col.prop.toLowerCase()] + ' %'}}
      </span>
      <span *ngSwitchCase=" 'estandar_de_nacimientos' ">
        {{ row[col.prop.toLowerCase()] + ' %'}}
      </span>
      <span *ngSwitchCase="'balance'" class="{{row[col.prop.toLowerCase()]>1? 'green' : row[col.prop.toLowerCase()]<0? 'red' : ''}}">
        {{row[col.prop.toLowerCase()]}}
      </span>
      <span *ngSwitchDefault >
        {{ row[col.prop.toLowerCase()]}}
      </span>
    </span>
    <!-- {{
      col.header.includes('Fecha') === false? 
      row[col.prop.toLowerCase()] : 
      row[col.prop.toLowerCase()] | date: 'shortDate'
    }} -->
  </ng-template>
</ngx-datatable-column>

  <ngx-datatable-column
  *ngIf="hasActions"
  [flexGrow]="1" [minWidth]="120"
   name="Acciones" sortable="false" >
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <ion-button *ngIf="tableActions.open" (click)="openRow(row)" size="small" color="tertiary">
        <ion-icon name="open"></ion-icon>
      </ion-button>
      <ion-button *ngIf="tableActions.edit" (click)="editRow(row)" size="small" color="primary">
        <ion-icon name="pencil"></ion-icon>
      </ion-button>
      <ion-button *ngIf="tableActions.delete" (click)="deleteRow(row)" size="small" color="danger">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ng-template>
  </ngx-datatable-column>

</ngx-datatable>

  <ion-item-divider></ion-item-divider>
</ion-list>