.server-scrolling-demo{
    height: calc(100vh - 25vh);
    width: 100%;
}

.green{
    color: green;
}
.red{
    color: red;
}

p{
    text-align: center !important;
    padding: 0em;
    margin: 0em;
    font-size: large;
}