<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <app-back-button back="true"></app-back-button>
    </ion-buttons>
    <ion-title>Asignación vs Importación año {{year | async}}</ion-title>
    <ion-buttons slot="end">
      <ion-item >
        <ion-label><h2>Año</h2></ion-label>
        <ion-datetime (ionChange)="setYear($event.target.value)" [value]="actual_year" displayFormat="YYYY" min="2015" max="2100"></ion-datetime>
      </ion-item>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Asignación vs Importación año {{year | async}} </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col size="12"  *ngIf="slides">
        <ion-slides [options]="slideOpts">

          <ion-slide>
            <ion-card color="warning" button style="height: 7em; width: 30em;">
              <ion-card-content>
                <ion-item lines="none" color="warning">
                  <ion-icon slot="end" name="logo-twitter" color="light" size="large"></ion-icon>
                  <ion-label>
                    <h1 >Total Rep. Abuelas</h1>
                    <h1 >Asignadas: {{status?.asignacion | addCommas}}</h1>
                  </ion-label>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card color="success" button style="height: 7em; width: 30em;">
              <ion-card-content>
                <ion-item lines="none" color="success">
                  <ion-icon class="egg" slot="end" name="logo-twitter" color="light" size="large"></ion-icon>
                  <ion-label>
                    <h1 >Total Rep. Abuelas</h1>
                    <h1 >Importadas: {{status?.importacion | addCommas}}</h1>
                  </ion-label>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card color="spanish-orange" button style="height: 7em; width: 30em;">
              <ion-card-content >
                <ion-item lines="none" color="spanish-orange">
                  <ion-icon class="egg" slot="end" name="alarm" color="light" size="large"></ion-icon>
                  <ion-label>
                    <h1 style="color: white;">Balance:</h1>
                    <h1 style="color: white;">{{status?.balance | addCommas}}</h1>
                  </ion-label>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-slide>

        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-table 
  name="Reporte de Importación Progenitores Abuelos Cobb-Ross Año {{year | async}}"
  [cols]="cols" 
  [rows]="rows"
  (selected)="selected($event)"></app-table>
</ion-content>
