<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <app-back-button ></app-back-button>
    </ion-buttons>
    <ion-title>Calendario de entrada año {{year | async}}</ion-title>
    <ion-buttons slot="end">
      <ion-item>
        <ion-label>Año</ion-label>
        <ion-datetime (ionChange)="setYear($event.target.value)" [value]="actual_year" displayFormat="YYYY" min="2015" max="2100"></ion-datetime>
      </ion-item>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Calendario de entrada año {{year | async}} </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-slides [options]="slideOpts" >

    <ion-slide  *ngFor="let m of  calendar; index as i;">
      <ion-card  button lines="none" [color]="colors[i]" style="width: 400px;">
        <ion-card-content>
            <ion-label>
              <h1>{{getMonth(i)}}</h1>
              <h1>{{m | addCommas}}</h1>
            </ion-label>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <app-table 
  name="Entrada Mensual De Abuelas Linea Hembra {{year | async}}"
  [cols]="cols" 
  [rows]="rows"
  (selected)="selected($event)"></app-table>
</ion-content>
