<ion-header [translucent]="true">
  <ion-toolbar ><!-- [color]="isMaterial? 'primary' : '' " -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Aves en {{filter==='breeding'? 'Recria' : 'Producción'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Aves en {{filter==='breeding'? 'Recria' : 'Producción'}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- <ion-toolbar>
    <ion-searchbar (ionChange)="updateFilter($event)" debounce="500" animated ></ion-searchbar>
    <ion-item>
      <ion-label>Año</ion-label>
      <ion-datetime value="2021" [pickerOptions]="customPickerOptions" placeholder="Custom Options" displayFormat="YYYY" min="2015" max="2100"></ion-datetime>
    </ion-item>
  </ion-toolbar> -->

  <ion-item lines="none">
    <ion-label>
      <h2><b>Total de Aves en {{filter==='breeding'? 'Recria' : 'Producción'}}:</b> {{status?.total}}</h2>
      <h2><b>Total de Huevos Producidos:</b> {{status?.eggs}}</h2>
      <h2><b>Total de Huevos Incubables:</b> {{status?.incub_eggs}}</h2>
      <h2><b>Nacimientos Totales:</b> {{status?.born_eggs}}</h2>
    </ion-label>
  </ion-item>

  <app-table 
  name="Lotes" 
  [cols]="col$ | async" 
  [rows]="lot$ | async" 
  [tableActions]="tableActions"
  (selected)="selected($event)"></app-table>
</ion-content>
