<ion-header [translucent]="true">
  <ion-toolbar ><!-- [color]="isMaterial? 'primary' : '' " -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Lotes en {{filter}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Lotes en {{filter}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-toolbar>
    <!-- <ion-searchbar (ionChange)="updateFilter($event)" debounce="500" animated ></ion-searchbar> -->
    <ion-item lines="none">
      <ion-label>Year:</ion-label>
      <ion-select [interfaceOptions]="customPopoverOptions" interface="popover"  placeholder="theme" >
        <ion-select-option value="2016">2016</ion-select-option>
        <ion-select-option value="2017">2017</ion-select-option>
        <ion-select-option value="2018">2018</ion-select-option>
        <ion-select-option value="2019">2019</ion-select-option>
        <ion-select-option value="2010">2020</ion-select-option>
        <ion-select-option value="2021">2021</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-toolbar>

  <app-table 
  name="Lotes" 
  [cols]="col$ | async" 
  [rows]="lot$ | async" 
  [tableActions]="tableActions"
  (selected)="selected($event)"></app-table>
</ion-content>
