<ion-header [translucent]="true">
  <ion-toolbar ><!-- [color]="isMaterial? 'primary' : '' " -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Estado Actual Aves En {{filter==='breeding'? 'Recria' : 'Producción'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Estado Actual Aves En {{filter==='breeding'? 'Recria' : 'Producción'}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- <ion-toolbar>
    <ion-searchbar (ionChange)="updateFilter($event)" debounce="500" animated ></ion-searchbar>
    <ion-item>
      <ion-label>Año</ion-label>
      <ion-datetime value="2021" [pickerOptions]="customPickerOptions" placeholder="Custom Options" displayFormat="YYYY" min="2015" max="2100"></ion-datetime>
    </ion-item>
  </ion-toolbar> -->
  <ion-grid>
    <ion-row>
      <ion-col size="12"  size-md="3">
        <ion-card button>
          <ion-card-content>
            <ion-icon class="egg" slot="end" name="logo-twitter" color="tertiary" size="large"></ion-icon>
            <h1><span style="color: springgreen">{{status?.total | addCommas}}</span> Aves en {{filter==='breeding'? 'Recria' : 'Producción'}}</h1>
            <small><b>Total de Aves en {{filter==='breeding'? 'Recria' : 'Producción'}}:</b></small>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12"  size-md="3">
        <ion-card button>
          <ion-card-content>
            <ion-icon class="egg" slot="end" name="egg" color="medium" size="large"></ion-icon>
            <h1><span style="color: tomato;">{{status?.eggs | addCommas}}</span> Huevos Producidos</h1>
            <small><b>Total de Huevos Producidos</b></small>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12"  size-md="3">
        <ion-card button>
          <ion-card-content>
            <ion-icon class="egg" slot="end" name="egg" color="medium" size="large"></ion-icon>
            <h1><span style="color: darkturquoise;">{{status?.incub_eggs | addCommas}}</span> Huevos Incubables</h1>
            <small><b>Total de Huevos Incubables</b></small>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12"  size-md="3">
        <ion-card button >
          <ion-card-content>
            <ion-icon class="egg" slot="end" name="logo-twitter" color="primary" size="large"></ion-icon>
            <h1><span style="color: black;">{{status?.born_eggs | addCommas}}</span> Nacimientos Totales</h1>
            <small><b>Nacimientos Totales</b></small>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-table 
  name="Lotes" 
  [cols]="col$ | async" 
  [rows]="lot$ | async" 
  [tableActions]="tableActions"
  (selected)="selected($event)"></app-table>
</ion-content>
