<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <app-back-button ></app-back-button>
    </ion-buttons>
    <ion-title>Nacimiento Sem. De Pollitas Rep. Pesadas</ion-title>
    <ion-buttons  slot="end">
      <ion-button (click)="ngOnInit()">reload</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Nacimiento Sem. De Pollitas Rep. Pesadas</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-table 
  *ngIf="table"
  name="Nacimiento Sem. De Pollitas Rep. Pesadas"
  [cols]="cols" 
  [rows]="rows"
  [isLimited]="false"
  (selected)="selected($event)"></app-table>
</ion-content>
