<ion-header [translucent]="true">
  <ion-toolbar color="paolo-green">
    <ion-buttons slot="start">
      <app-back-button back="true"></app-back-button>
    </ion-buttons>
    <ion-title>Reporte De Incubaciones De Huevos Semanal - Progenitores Abuelos</ion-title>
    <ion-buttons  slot="end">
      <ion-button (click)="ngOnInit()">reload</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Reporte De Incubaciones De Huevos Semanal</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-table 
  *ngIf="table"
  name="Reporte De Incubaciones De Huevos Semanal"
  [cols]="cols" 
  [rows]="rows"
  [isLimited]="false"
  (selected)="selected($event)"></app-table>
</ion-content>
