<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Reporte Sem. de Nac. de P. Ponedoras</ion-title>
    <ion-buttons  slot="end">
      <ion-button (click)="ngOnInit()">reload</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>Reporte Sem. de Nac. de P. Ponedoras</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-table 
  *ngIf="table"
  name="Población semanal reproductoras livianas"
  [cols]="cols" 
  [rows]="rows"
  [isLimited]="false"
  (selected)="selected($event)"></app-table>
</ion-content>
