<ion-app>
<!--   <ion-split-pane contentId="main-content" when="(min-width: 2040px)" *ngIf="canActive; else logginPage">
    <ion-menu contentId="main-content" type="overlay" >
      <ion-content  color="warning">
        <ion-list id="inbox-list">

          <ion-item lines="none">
            
              <img src="assets/logo.svg" alt="logo" width="300px" height="150px">
            
          </ion-item>

          <ion-card>
            <ion-item lines="none" >
              <ion-label class="ion-text-center" color="tertiary">
                <h1>Industria Avicola</h1>
                <h2>Sub-Sector Pollo</h2>
              </ion-label>
            </ion-item>
          </ion-card>
          <ion-card>
            <ion-item  lines="none" detail="true" button (click)="open=!open">
              <ion-icon color="success" slot="start" name="business-outline"></ion-icon>
              <ion-label color="{{open? 'primary' : ''}}">Empresas Genéticas</ion-label>
              
            </ion-item>
            <ion-card-content *ngIf="open">
              <ion-item [routerLink]="['#']" lines="none" detail="false">
                <ion-label>Historia</ion-label>
              </ion-item>
              <ion-item [routerLink]="['/business']" lines="none" detail="false" routerLinkActive="selected">
                <ion-label>Registro de las Empresas</ion-label>
              </ion-item>
              <ion-item [routerLink]="['/data-driven']" lines="none" detail="false" routerLinkActive="selected">
                <ion-label>Participación de Mercado</ion-label>
              </ion-item>
              <ion-item [routerLink]="['/monthly-data']" lines="none" detail="false" routerLinkActive="selected">
                <ion-label>Calendario de Entrada</ion-label>
              </ion-item>

            </ion-card-content>
          </ion-card>

          <ion-card>
            <ion-item lines="none" detail="true" button (click)="openBreeding=!openBreeding">
              <ion-icon color="secondary" slot="start" name="cube-outline"></ion-icon>
              <ion-label color="{{openBreeding? 'primary' : ''}}"><h1>Abuelas Rep.</h1></ion-label>
            </ion-item>
            <ion-card-content *ngIf="openBreeding">
              <ion-item [routerLink]="['/lot/breeding']" lines="none" detail="false" routerLinkActive="selected">
                <ion-label>
                  Aves en Recría
                </ion-label>
              </ion-item>
              <ion-item [routerLink]="['/lot/production']" lines="none" detail="false" routerLinkActive="selected">
                <ion-label>
                  Aves en Producción
                </ion-label>
              </ion-item>
              <ion-item [routerLink]="['/daily-projection']" lines="none" detail="false" routerLinkActive="selected">
                <ion-label>
                  Reporte de Producción
                </ion-label>
              </ion-item>

            </ion-card-content>
          </ion-card>

          <ion-card>
            <ion-item lines="none" detail="true" button (click)="openBreed=!openBreed">
              <ion-icon color="incub" slot="start" name="egg"></ion-icon>
              <ion-label  color="{{openBreed? 'danger' : ''}}">Plantas Incubadoras</ion-label>
            </ion-item>
            <ion-card-content *ngIf="openBreed">
              <ion-item [routerLink]="['/births-by-weeks']" lines="none" detail="false" routerLinkActive="selected">
                <ion-label>
                  Reporte Sem. de Nac. de P. Ponedoras
                </ion-label>
              </ion-item>
              <ion-item [routerLink]="['#']" lines="none">
                <ion-label>
                  Registro de Plantas Incubadoras
                </ion-label>
              </ion-item>
              <ion-item [routerLink]="['#']" lines="none">
                <ion-label>
                  Control de Incubaciones
                </ion-label>
              </ion-item>
            </ion-card-content>
          </ion-card>

          <ion-card>
            <ion-item lines="none" detail="true" button (click)="openProd=!openProd">
              <ion-icon color="tertiary" slot="start" name="cube-outline"></ion-icon>
              <ion-label color="{{openProd? 'primary' : ''}}"><h1>Rep. Pesadas</h1></ion-label>
            </ion-item>
            <ion-card-content *ngIf="openProd">

              <ion-item [routerLink]="['#']" lines="none">
                <ion-label>
                  Registro de Productores
                </ion-label>
              </ion-item>
              
              <ion-item [routerLink]="['/eggs-production/recria']" lines="none" detail="false" routerLinkActive="selected">
                <ion-label>
                  Aves en Recría
                </ion-label>
              </ion-item>
              <ion-item [routerLink]="['/eggs-production/produccion']" lines="none" detail="false" routerLinkActive="selected">
                  <ion-label>
                    Aves en Producción
                  </ion-label>
              </ion-item>
              <ion-item [routerLink]="['/daily-prod-projection']" lines="none" detail="false" routerLinkActive="selected">
                <ion-label>
                  Reporte de Producción
                </ion-label>
              </ion-item>

              <ion-item [routerLink]="['/home']" lines="none" detail="false" routerLinkActive="selected">
                <ion-label>
                  Resumen de Producción
                </ion-label>
              </ion-item>

            </ion-card-content>
          </ion-card>

          <ion-card>
            <ion-item lines="none" detail="true" button (click)="openGraphicalResume=!openGraphicalResume">
              <ion-icon color="success" slot="start" name="bar-chart"></ion-icon>
              <ion-label color="{{openGraphicalResume? 'primary' : ''}}">Resumen Gráfico</ion-label>
            </ion-item>
            <ion-card-content *ngIf="openGraphicalResume">

              <ion-item [routerLink]="['/production', 'pie-light-breeder']" lines="none" detail="false" routerLinkActive="selected">
                <ion-label>Part. Mercado/Empresa</ion-label>
              </ion-item>

              <ion-item [routerLink]="['/production', 'bar-month-lot-breeder']" lines="none" detail="false" routerLinkActive="selected">
                <ion-label>Entrada Abuelas Mensual</ion-label>
              </ion-item>

              <ion-item [routerLink]="['/production', 'chicks-light-breeder']" lines="none" detail="false" routerLinkActive="selected">
                <ion-label>Inv. Aves Recria/Prod.</ion-label>
              </ion-item>

              <ion-item [routerLink]="['/production', 'light-breeder']" lines="none" detail="false" routerLinkActive="selected">
                <ion-label>P. H. Inc/Pollitas Diario</ion-label>
              </ion-item>
              <ion-item [routerLink]="['/production', 'bar-month-light-breeder']" lines="none" detail="false" routerLinkActive="selected">
                <ion-label>P. H. Inc/Pollitas Mensual</ion-label>
              </ion-item>

              <ion-item [routerLink]="['/production', 'chicks-line-eggs-industry']" lines="none" detail="false" routerLinkActive="selected">
                <ion-label>Inv. Rep. Pesadas Recria/Prod.</ion-label>
              </ion-item>
              
              <ion-item [routerLink]="['/production', 'day-line-eggs-industry']" lines="none" detail="false" routerLinkActive="selected">
                <ion-label>Prod/Huevos Diarios</ion-label>
              </ion-item>

              <ion-item [routerLink]="['/production', 'month-bar-eggs-industry']" lines="none" detail="false" routerLinkActive="selected">
                <ion-label>Prod/Huevos Mensual</ion-label>
              </ion-item>

            </ion-card-content>
          </ion-card>

          <ion-card>
            <ion-item [routerLink]="['/data-analyst']" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" color="danger" name="analytics-outline"></ion-icon>
              <ion-label>Data Analyst</ion-label>
            </ion-item>
          </ion-card>

          <ion-card>
            <ion-item lines="none" button >
              <ion-icon slot="start" name="cube-outline"></ion-icon>
              <ion-label>Historico Precios de Huevos</ion-label>
            </ion-item>
          </ion-card>

          <ion-card>
            <ion-item button [routerLink]="['/docview',  'Commodities']" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" name="cube-outline"></ion-icon>
              <ion-label>Precios de Commodities</ion-label>
            </ion-item>
          </ion-card>

          <ion-card>
            <ion-item button [routerLink]="['/docview',  'eggsPrices']" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" name="cube-outline"></ion-icon>
              <ion-label>Costos de Producción</ion-label>
            </ion-item>
          </ion-card>

          <ion-card>
            <ion-item lines="none" button (click)="openExport=!openExport">
              <ion-icon slot="start" name="cube-outline"></ion-icon>
              <ion-label>Mercado de Exportación</ion-label>
            </ion-item>
            <ion-card-content *ngIf="openExport">
              <ion-item [routerLink]="['#']" lines="none">
                <ion-label>Exportación de Pollitas</ion-label>
              </ion-item>
              <ion-item [routerLink]="['#']" lines="none">
                <ion-label>Exportación de Huevos</ion-label>
              </ion-item>
            </ion-card-content>
          </ion-card>

          <ion-card>
            <ion-item lines="none" button (click)="openCapacity=!openCapacity">
              <ion-icon slot="start" name="cube-outline"></ion-icon>
              <ion-label>Capacidad Instalada Ind. de Huevos</ion-label>
            </ion-item>
            <ion-card-content *ngIf="openCapacity">
              <ion-item [routerLink]="['#']" lines="none">
                <ion-label>Capacidad Instalada Rep. Livianas</ion-label>
              </ion-item>
              <ion-item [routerLink]="['#']" lines="none">
                <ion-label>Tecnologia y Equipos Rep. Livianas</ion-label>
              </ion-item>
              <ion-item [routerLink]="['#']" lines="none">
                <ion-label>Capacidad Instalada Granja Ponedoras</ion-label>
              </ion-item>
              <ion-item [routerLink]="['#']" lines="none">
                <ion-label>Tecnologia y Equipos Ponedoras</ion-label>
              </ion-item>
            </ion-card-content>
          </ion-card>

          <ion-card>
            <ion-item lines="none" button (click)="openGeo=!openGeo">
              <ion-icon slot="start" name="cube-outline"></ion-icon>
              <ion-label>Mapa Geolocalización</ion-label>
            </ion-item>
            <ion-card-content *ngIf="openGeo">
              <ion-item [routerLink]="['#']" lines="none">
                <ion-label>Geolocalización Granjas Rep. Livianas</ion-label>
              </ion-item>
              <ion-item [routerLink]="['#']" lines="none">
                <ion-label>Geolocalización Plantas Incubadoras</ion-label>
              </ion-item>
              <ion-item [routerLink]="['#']" lines="none">
                <ion-label>Geolocalización Productores de Huevos</ion-label>
              </ion-item>
            </ion-card-content>
          </ion-card>

          <ion-item (click)="authService.signOut()" button lines="none" detail="false" routerLinkActive="selected">
            <ion-icon slot="start" [ios]="'log-out-outline'" [md]="'log-out-sharp'"></ion-icon>
            <ion-label>Salir</ion-label>
          </ion-item>
        </ion-list>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>

  <ng-template #logginPage>
    
  </ng-template> -->
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
