<ion-header [translucent]="true">
  <ion-toolbar  color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Empezar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Empezar</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="3"></ion-col>
      <ion-col size="12" size-md="6">
        <ion-card>
          <ion-card-header>
            <img style="margin-left: 200px; margin-right: 300px;" src="assets/logo.svg" alt="logo" width="300px" height="200px">
          </ion-card-header>
          <!-- <ion-item lines="none">

            <ion-label>
              <h1>Industria avícola</h1>
              <p>Reproductora liviana</p>
            </ion-label>
          </ion-item> -->
          <ion-card-content>
            <ion-list>
              <ion-list-header>
                <ion-note>Email y Contraseña</ion-note>
              </ion-list-header>
              <form [formGroup]="credentials">
                <!-- EMAIL -->
                <ion-item lines="none">
                  <ion-label position="stacked">Email:</ion-label>
                  <ion-input autocomplete="email" formControlName="email" required class="email" placeholder="Escribe tu @ email" type="email"></ion-input>
                  <small>Esciba su email aqui.</small>
                </ion-item>
                <!-- PASSWORD -->
                <ion-item lines="none">
                  <ion-label position="stacked">Contraseña:</ion-label>
                  <ion-input autocomplete="password" (keyup.enter)="signIn()" formControlName="password" required class="email" placeholder="Escribe tu contraseña" type="password"></ion-input>
                  <small>Esciba su contraseña aqui.</small>
                </ion-item>

                <br>

                <ion-item #signin [disabled]="credentials.invalid" (click)="signIn()" button class="ion-text-center" lines="none" detail="false" color="primary">
                  <ion-label>Entrar</ion-label>
                </ion-item>

              </form>
              <br>

              <!-- <ion-buttons>
                <p>Iniciar con </p>
                <ion-button (click)="authService.googleSignIn()" color="danger">
                  <ion-icon color="danger" name="logo-google"></ion-icon>
                  oogle
                </ion-button>
                <p>o</p>
                <ion-button (click)="authService.facebookSignIn()">
                  <ion-icon name="logo-facebook"></ion-icon>
                  acebook
                </ion-button>
              </ion-buttons> -->

            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="3"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>