<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <app-back-button ></app-back-button>
    </ion-buttons>
    <ion-title>{{ title | titlecase}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ title | titlecase}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <pdf-viewer [src]="pdfSrc"
  [render-text]="true"
  style="display: block;"
  ></pdf-viewer>
</ion-content>
