.container{
    margin: 0;
    padding: 0;
    border-left: 1px solid  grey;
    border-right: 1px solid  grey;
    border-top: 1px solid  grey;
    text-align: center;
    //font-weight: bold;
    h1{
        color: red;
        font-size: -webkit-xxx-large;
    }
}

.red{
    color: red;
    font-weight: bold;
}

table{
    width: -webkit-fill-available;
    tr{
        border-bottom: 1px solid grey;
    }

    td{
        border-left: 1px solid gray;
        border-right: 1px solid gray;
        .title{
            text-align: center;
            font-size: xx-large;
        }
    }
}

.small{
    width: 8em !important;
}