<div style="text-align: center;">
  <h3 >{{xAxisLabel1}}</h3>
</div>
<ngx-charts-bar-vertical
  *ngIf="show"
  [view]="view"
  [scheme]="colorScheme"
  [results]="multi1"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]=""
  [yAxisLabel]="yAxisLabel1"
  >
</ngx-charts-bar-vertical>
<ion-item-divider></ion-item-divider>
<div style="text-align: center;">
  <h3 >{{xAxisLabel2}}</h3>
</div>
<ngx-charts-bar-vertical
  *ngIf="show"
  [view]="view"
  [scheme]="colorScheme"
  [results]="multi2"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]=""
  [yAxisLabel]="yAxisLabel2"
  >
</ngx-charts-bar-vertical>
<ion-item-divider></ion-item-divider>

<div style="text-align: center;">
  <h3 >{{xAxisLabel3}}</h3>
</div>
<ngx-charts-bar-vertical
  *ngIf="show"
  [view]="view"
  [scheme]="colorScheme"
  [results]="multi3"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]=""
  [yAxisLabel]="yAxisLabel3"
  >
</ngx-charts-bar-vertical>
<ion-item-divider></ion-item-divider>

<div style="text-align: center;">
  <h3 >{{xAxisLabel4}}</h3>
</div>
<ngx-charts-bar-vertical
  *ngIf="show"
  [view]="view"
  [scheme]="colorScheme"
  [results]="multi4"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]=""
  [yAxisLabel]="yAxisLabel4"
  >
</ngx-charts-bar-vertical>
<ion-item-divider></ion-item-divider>