/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/*ngx datatable*/
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/themes/bootstrap.scss';
@import '~@swimlane/ngx-datatable/themes/dark.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';

/* ion-content{
    --ion-background-color: var(--ion-color-background);
    color: #ffffff  !important;
} */
/* Leaflet  */
@import 'leaflet/dist/leaflet.css';

.leaflet-verticalcenter {
    z-index: 1000;
    pointer-events: none;
    
}

.total-label{
    margin-bottom: 13% !important;
}

.datatable-header-cell,.datatable-body-cell, .datatable-footer-inner{
    span, .page-count{
        font-size: large;
    }
}

datatable-body-cell{
    border-right: 1px solid grey  !important;
    border-bottom: 1px solid grey  !important;

}

datatable-header-cell{
    border-top: 1px solid grey  !important;
    border-bottom: 1px solid grey  !important;
    border-right: 1px solid grey  !important;
    text-align: center  !important;
    background-color: #fff;
    color: black;
    font-style: oblique;
}

.datatable-row-group:hover{
    background-color: rgba($color: #3880ff, $alpha: 0.1) !important;
    cursor: pointer;
}

.ngx-datatable.bootstrap .datatable-body .datatable-body-row.active{
    background-color: rgba($color: #ffc409, $alpha: 0.7);
    color: rgb(29, 28, 28);
}

.errorIcon{
    /* background-color: red;
    color: white; */
    --background: var(--ion-color-light);
    --color: var(--ion-color-danger);
    --button-color: var(--ion-color-danger);
}

ion-card{
    margin: 2px;
}

.cell{
    text{
        font-size: 16px;
    }
}

.ng-star-inserted{
    text{
        font-size: 16px;
    }
}


text{
    font-size: 18px !important;
}

.invalid{
    color: var(--ion-color-danger);
}


main{
    background-image: url('/assets/logo.svg')  !important; 
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center;
}

#head{
    ion-toolbar{
        height: 3.5em;
    }
}

ion-header{
    margin-top: 3.5em;
}

.logo{
    width: auto;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    h1{
        color: var(--ion-color-dark);
    }
}

.menu-button{
    height: 10em; 
    width: 15em;   
    margin-left: auto; 
    margin-right: auto;
    h2{
        font-size: large;
    }
}

@media screen and (max-width:450px){
    .menu-button{
        height: 13em; 
        width: 10em;   
        margin-left: auto; 
        margin-right: auto;
        h2{
            font-size: medium;
        }
    }

    #menu{
        position: absolute;
        float: right;
        right: 0;
        bottom: 0;
        font-size: 32px;
        color: var(--ion-color-spanish-orange);
    }
}

ion-label{
    h2{
        color: black
    }
}
#menu{
    position: absolute;
    float: right;
    right: 0;
    bottom: 0;
    font-size: 64px;
    color: var(--ion-color-spanish-orange);
}

.tx-r{
    text-align: right;
}

.tx-l{
    text-align: left;
}