
<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <!-- <ion-menu-button ></ion-menu-button> -->
      
      <ion-button [routerLink]="['/menu']">
        <ion-icon size="large" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Cierre De Mercado Productivo</ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="speaking" fill="solid" color="success" (click)="speach()">
        Asistente Virtual D-P
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cierre De Mercado Productivo</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-list-header>
      <ion-title  style="position: absolute; right: 1em;">
        <h1>{{time | date:'medium'}}</h1>
      </ion-title>
    </ion-list-header>

    <ion-grid>
      <ion-row>
        <ion-col size="7" size-md="9" size-lg="9">
          <ion-item>
            <ion-label *ngIf="abuelos;" color="tertiary">
              <h1>Progenitores Abuelos Cobb Ross</h1>
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col  size="5"  size-md="3" size-lg="3">
          <ion-segment [value]="selected" (ionChange)="segmentSelect($event.target.value)">
            <ion-segment-button value="day">
              <ion-label>Dia</ion-label>
            </ion-segment-button>
            <ion-segment-button value="month">
              <ion-label>Mes</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>

      <div  *ngIf="abuelos; else elseBlock">
        <ion-row *ngFor="let row of rows1; index as i">
          <ion-col size="7" size-md="9" size-lg="9">
            <ion-item>
              <ion-icon [name]="row['icon']" [color]="row['color']" slot="start"></ion-icon>
              <div>
                <h2>{{row['business']}}</h2>
              </div>
            </ion-item>
          </ion-col>
          <ion-col *ngIf="selected === 'day' " size="5"  size-md="3" size-lg="3">
            <ion-item button [color]="row['color']" style="border-radius: 20px;">
              <div style="margin-left:10em;">
                <h2>{{row['init'] | addCommas}}</h2>
              </div>
            </ion-item> 
          </ion-col>
          <ion-col *ngIf="selected === 'month' " size="5"  size-md="3" size-lg="3">
            <ion-item button [color]="row['color']" style="border-radius: 20px;">
              <div style="margin-left:10em;">
                <h2>{{row['month'] | addCommas}}</h2>
              </div>
            </ion-item>
          </ion-col>
        </ion-row>
      </div>

    </ion-grid>

    <!-- <ion-item-divider></ion-item-divider> -->
    
    <ng-template  #elseBlock>
      <ion-grid>
        <ion-row>
          <ion-col size="7" size-md="9" size-lg="9">
            <ion-item>
              <ion-label color="tertiary">
                <h1>Cierre Productivo De Reproductoras Pesadas</h1>
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col *ngIf="selected === 'day' " size="5" size-md="3" size-lg="3">
            <ion-item>
              <ion-label>
                <h1>Dia</h1>
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col  *ngIf="selected === 'month' " size="5" size-md="3" size-lg="3">
            <ion-item>
              <ion-label>
                <h1>Mes</h1>
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
        
        <ion-row  *ngFor="let row of  rows2">
          <ion-col size="7" size-md="9" size-lg="9">
            <ion-item>
              <ion-icon [name]="row['icon']" [color]="row['color']" slot="start"></ion-icon>
                <div>
                  <h2>{{row['business']}}</h2>  
                </div>
                
              
            </ion-item>
          </ion-col>
          <ion-col  *ngIf="selected === 'day' " size="5"  size-md="3" size-lg="3">
            <ion-item button [color]="row['color']" style="border-radius: 20px;">
              <div style="margin-left:10em;">
                <h2>{{row['init'] | addCommas}}</h2>
              </div>
            </ion-item> 
          </ion-col>
          <ion-col  *ngIf="selected === 'month' " size="5"  size-md="3" size-lg="3">
            <ion-item button [color]="row['color']" style="border-radius: 20px;">
              <div style="margin-left:10em;">
                <h2>{{row['month'] | addCommas}}</h2>
              </div>
            </ion-item>
          </ion-col>
        </ion-row>
  
      </ion-grid>
    </ng-template>

    
  </ion-list>
</ion-content>

