<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{title | titlecase}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{title | titlecase}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngIf="activateCard" class="container">
        <ion-item>

        </ion-item>
      <!--   <ngx-charts-number-card
          [view]="viewCard"
          [scheme]="colorScheme"
          [results]="res"
          [cardColor]="cardColor">
        </ngx-charts-number-card> -->
      </ion-col>
    </ion-row>

    <!-- <ion-row>
        <ngx-charts-pie-grid
        [view]="viewPie"
        [scheme]="colorScheme"
        [results]="res2">
        </ngx-charts-pie-grid>
      
    </ion-row> -->

    <ion-row class="container">
      <ion-col size="12" >
        <ngx-charts-line-chart
          *ngIf="activateArea"
          [view]="viewArea"
          [scheme]="colorScheme"
          [schemeType]=" 'linear' "
          [legend]="legend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [timeline]="timeline"
          [showGridLines]="true"
          [results]="getResult()">
        >
        </ngx-charts-line-chart>
        <!-- <ngx-charts-area-chart
          *ngIf="activateArea"
          [view]="viewArea"
          [scheme]="colorScheme"
          [legend]="legend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [timeline]="timeline"
          [showGridLines]="true"
          [results]="resMulti">
        </ngx-charts-area-chart> -->
        <!-- <ngx-charts-bar-vertical
          *ngIf="activateArea"
          [view]="viewArea"
          [scheme]="colorScheme"
          [results]="single"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="legend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          (select)="onSelect($event)"
          >
        </ngx-charts-bar-vertical> -->
      </ion-col>
      <!-- <ion-col size="12" #advancePieContainer>
        <ngx-charts-advanced-pie-chart
          *ngIf="activatePie"
          [view]="[advancePieContainer.offsetWidth, advancePieContainer.offsetHeight]"
          [scheme]="colorScheme"
          [results]="res2"
          [gradient]="gradient">
        </ngx-charts-advanced-pie-chart>
      </ion-col> -->
    </ion-row>
  </ion-grid>

</ion-content>
